* {
  font-family: Arial, sans-serif;
}

body {
  background: url("/Users/mjolnir/development/SapienSumo.github.io/images/porfobackground.jpg");
  background-color: black;
  margin: 0;
  padding: 0;
  background-size: cover;
  min-height: 100vh;
  color: black;
  align-content: center;
}

p {
  text-align: left;
}

.structre {
  background-color: rgba(128,128,128, 0.9);
  text-align: center;
}
